<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://comp410s21loggingfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f11d7729-be4f-4b4f-a88c-024abdb107d2/resourcegroups/VS-comp410-Group/providers/Microsoft.Web/sites/comp410s21LoggingFunctionApp</ResourceId>
    <UserName>$comp410s21LoggingFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://comp410s21loggingfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>